/*--- background ---*/

body, div, p, h1, h2, h3 {
	padding: 0;
	margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #666;
}

#wrapper {
  margin: 10px 30px;
  position: relative;
}

#stopwatch {
  position: absolute;
  top: 10px;
  left: 380px;
  font-weight: bold;
  font-size: 18px;
  color: #888;
}


/*--- graphics ---*/

.display {
  position: fixed;
  font-family: sans-serif;
  background: #444;
  color: #bbb;
}

#gameContainer {
  position: fixed;
  background: #fff;
}
#gameContainer.paused {
  background: #ddd;
  opacity: 0.3;
}
#gameContainer.failed {
  background: #fee;
}
#gameContainer.cleared {
  background: #ffe;
}
#gameContainer canvas {
  position: absolute;
  left: 0;
  top: 0;
}


/*--- status ---*/

.run .level {
  padding-right: 5px;
}
.run .words {
  letter-spacing: 2px;
  color: #b5af94;
}
.run .words.completed {
  color: #747142;
}


/*--- typing ---*/

#typingInput {
  position: fixed;
  outline: none;
  z-index: -10;
  width: 200px;
  height: 20px;
  background: #fff;
  color: #fff;
  font-size: 12px;
  border: none;
}

