/*--- background ---*/

body, div, p, h1, h2, h3 {
	padding: 0;
	margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #666;
}

#wrapper {
  margin: 10px 30px;
  position: relative;
}

#stopwatch {
  position: absolute;
  top: 10px;
  left: 380px;
  font-weight: bold;
  font-size: 18px;
  color: #888;
}


/*--- graphics ---*/

#gameContainer {
  border: 2px solid #bbb;
  position: fixed;
  background: #fff;
}
#gameContainer.paused {
  border: 2px solid #fff;
  background: #ddd;
  opacity: 0.3;
}
#gameContainer.finished {
  border: 2px solid #cd7d7d;
  background: #ffe;
}
#gameContainer canvas {
  position: absolute;
  left: 0;
  top: 0;
}


/*--- typing ---*/

#typingInput {
  position: fixed;
  outline: none;
  z-index: -10;
  width: 200px;
  height: 20px;
  background: #fff;
  color: #fff;
  font-size: 12px;
  border: none;
}

