/*--- background ---*/

body, div, p, h1, h2, h3 {
	padding: 0;
	margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  color: #666;
}

#wrapper {
  margin: 10px 30px;
  position: relative;
}


/*--- graphics ---*/

#container {
  position: fixed;
  background: #fff;
  border-bottom: 2px solid #ddd;
}
#container.blurred {
  background: #eee;
  opacity: 0.5;
}
#container.failed {
  background: #fee;
}
#container.cleared {
  background: #ffe;
}
#container canvas {
  position: absolute;
  left: 0;
  top: 0;
}


/*--- status ---*/

#status {
  position: fixed;
  font-family: sans-serif;
}

#status .label {
  font-size: 18px;
  color: #ccc;
}

#status .display {
  font-size: 24px;
  padding: 5px 0 10px;
}
#status .display .level {
  display: inline-block;
  text-align: right;
  width: 40px;
}
#status .display.current {
  color: #658c63;
}
#status .display.current .words.remaining {
  color: #b8d2b6;
}
#status .display.best {
  color: #bbb589;
}
#status .display.best .words.remaining {
  color: #d8d6c7;
}
#status .display.recent {
  color: #aaa;
}
#status .display.recent .words.remaining {
  color: #ddd;
}

#status .display .run .level {
  padding-right: 5px;
}
#status .display .run .words {
  letter-spacing: 1px;
}


/*--- typing ---*/

#typingInput {
  position: fixed;
  outline: none;
  z-index: -10;
  width: 200px;
  height: 20px;
  background: #fff;
  color: #fff;
  font-size: 12px;
  border: none;
}

